@use '../../../sass/variables.scss' as *;

.genres {
  margin-top: 20px;
  width: 100%;
}

.genres div {
  position: relative;
  padding: 10px 0 10px 20px;
  margin: 10px 0 10px 0;
  background-color: $tab-background;
  box-shadow: 0 0 5px $shadow-faint;
  p {
    margin: 0;
    font-size: clamp(0.75rem, 1vw, 1rem);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.genres div::before {
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  width: 5px;
  height: 100%;
}

@mixin themifyGenre($color, $second_color: '') {
  @if $second_color != '' {
    p {
      color: transparent;
      background-image: linear-gradient(to right, $color, $second_color);
      background-clip: text;
    }
    &::before {
      background-image: linear-gradient($color, $second_color);
    }
  } @else {
    color: $color;
    &::before {
      background-color: $color;
    }
  }
}

.aa {
  @include themifyGenre(rgb(255, 85, 85), rgb(158, 84, 255));
}

.action {
  @include themifyGenre(rgb(255, 85, 85));
}

.adventure {
  @include themifyGenre(rgb(158, 84, 255));
}

.animation {
  @include themifyGenre(rgb(255, 209, 84));
}

.comedy {
  @include themifyGenre(rgb(255, 223, 82));
}

.crime {
  @include themifyGenre(rgb(255, 124, 179));
}

.drama {
  @include themifyGenre(rgb(255, 136, 57));
}

.fantasy {
  @include themifyGenre(rgb(96, 255, 81));
}

.mystery {
  @include themifyGenre(rgb(163, 0, 0));
}

.science_fiction {
  @include themifyGenre(rgb(69, 196, 255));
}

.sf {
  @include themifyGenre(rgb(69, 196, 255), rgb(96, 255, 81));
}

.thriller {
  @include themifyGenre(rgb(229, 124, 255));
}

.wp {
  @include themifyGenre(rgb(109, 109, 109));
}

.horror {
  @include themifyGenre(rgb(160, 32, 32));
}

.family {
  @include themifyGenre(rgb(177, 129, 255));
}

.none {
  @include themifyGenre($white);
}
