@use '../../sass/variables.scss' as *;

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 3;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.close_btn {
  position: absolute;
  right: 2%;
  top: 3%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: none;
  background: none;
}

.close_btn svg {
  fill: white;
  width: 100%;
  height: 100%;
}

.container {
  position: relative;
  padding: 30px;
  max-width: 70%;
  height: 80vh;
  color: $muted-text;
  background-color: $main;
  border-radius: $radius-md;
  font-size: clamp(1rem, 3vw, 1.2rem);
  letter-spacing: 0.9px;
}

.wrapper {
  height: 100%;
  overflow-y: scroll;
  padding: 0 30px;
}

.title {
  position: relative;
  margin: 0;
  padding-left: 20px;
  color: white;
  font-size: 2.5rem;
}

.title::before {
  content: '';
  position: absolute;
  top: 15%;
  left: 0;
  width: 5px;
  height: 75%;
  background-color: $accent-lite;
}

.container a {
  text-decoration: none;
  font-style: italic;
  color: $accent-lite;
}

.container a:hover {
  color: white;
}

.body {
  line-height: 1.4rem;
}

.table_container {
  font-size: clamp(0.9rem, 2vw, 1rem);
  margin-top: 50px;
}

.row {
  display: flex;
  margin-bottom: 10px;
}

.row > * {
  margin-bottom: 5px;
}

.row.current {
  color: white;
}

.version {
  width: 65px;
  flex-shrink: 0;
}

.date {
  width: 90px;
  flex-shrink: 0;
}

.notes_container {
  display: flex;
  flex-flow: column;
}

/* table */
table {
  font-size: $font-size-base;
  border-collapse: collapse;
}

@media only screen and (max-width: 900px) {
  tr {
    display: flex;
    flex-flow: column;
  }

  .notes_container span {
    margin-bottom: 5px;
  }
}
