@use '../../sass/variables.scss' as *;

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 20px;
  text-align: center;
  gap: 8px;
}

.error_message {
  color: $main-lite;
  font-family: $body-text;
}

.error_retry {
  color: $accent-lite;
  font-family: $accent-text;
  font-size: 0.8em;
}

.content_container {
  height: 100%;
  width: 100%;

  &.active {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 50px 50px 100px;

    .content {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: min(1000px, 100%);
      height: 70vh;
      margin: 0 auto;
    }
  }
}

.overlay {
  cursor: pointer;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  border: none;
}

.content {
  position: relative;
  overflow: hidden;
  height: 100%;
  border: 1px solid $accent-lite;
}

:global(.media):global(.expanded-layout) .content {
  cursor: auto;
  pointer-events: all;
  user-select: text;
}

:global(.media):global(.collapsed-layout) .content {
  cursor: pointer;
}
