@use '../../../sass/variables.scss' as *;

.title {
  position: absolute;
  left: 0;
  bottom: -45px; // To account for height of the container due to rotation
  margin: 0;
  padding: 2px 7px 3px 15px;
  color: $accent-lite;
  white-space: nowrap;
  transform: rotate(-90deg) !important;
  transform-origin: top left !important;
  animation: $transition-fast forwards fadeInOpacity;
  transition: color $transition-base;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    padding-right: 35px;
    width: 100%;
    height: 100%;
    background-color: rgba($main, 0.69);
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: skew(-30deg);
    -ms-transform: skew(-30deg);
    transform: skew(-30deg);
    z-index: -1;
    transition: color $transition-base;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 10px;
    width: 0;
    height: 2px;
    opacity: 0.7;
    transition: $transition-base;
    border-top: 3px $accent-lite solid;
    border-top-style: dotted;
  }
}

.title h2 {
  user-select: none;
  margin: 0;
  font-size: $font-size-lg;
}

:global(.media):global(.collapsed-layout) .title h2 {
  cursor: pointer;
}

:global(.media):hover .title,
:global(.media):focus .title {
  color: rgba($white, 1);
  text-shadow: 0 0 5px $background;
  transition: color $transition-base, text-shadow $transition-base;

  &::before {
    box-shadow: 10px 0 0 $accent-lite;
    transition: box-shadow $transition-base;
  }

  &::after {
    width: 60%;
  }
}

:global(.media):global(.expanded-layout) .title {
  left: 0;
  transform: rotate(-90deg);
  transform-origin: top left;
  color: rgba($main-lite, 0.3);
  text-shadow: none;
  transition: color $transition-base;
  animation: $transition-base both fadeInOpacity;

  &::before {
    box-shadow: 10px 0 0 $accent-lite, 0 0 20px $background;
    padding-right: 1000px;
  }

  &::after {
    width: 0;
  }
}

:global(.media):global(.active):not(:global(.expanded-layout)) .title,
:global(.media):not(:global(.active)):not(:global(.expanded-layout)):not(
    :global(.collapsed-layout)
  )
  .title {
  opacity: 0;
  animation: none;
}

@media only screen and (max-width: 800px) {
  :global(.media):global(.active) .title {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeInOpacity {
  0% {
    left: -50px;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
