@use '../../../sass/variables.scss' as *;

.index {
  user-select: none;
  z-index: -1;
  position: absolute;
  height: 200px;
  width: 300px;
  text-align: left;
  font-family: 'orbitron', sans-serif;
  font-weight: 700;
  font-size: 7rem;
  color: rgba(97, 97, 97, 0.5);
  // transition: 0.3s ease-in-out;
}

.index,
:global(.media):not(:global(.active)) .index {
  top: -1rem;
  left: -3rem;
  right: unset;

  // This is done because numbers from 100 - 199 lean too much to the left because 1 is too thin
  &.first_hundred {
    left: 0;
  }
}

:global(.media):global(.expanded-layout):global(.active) .index {
  left: unset;
  right: 0.75rem;
  text-align: right;
  color: rgba($accent-lite, 0.05);
}

@supports (-webkit-text-stroke: 4px red) {
  :global(.media):not(:global(.expanded-layout)) .index {
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 2px rgba($accent-lite, 0.7);
  }
}
